.auth__cont {
  /* width: 260px; */
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  position: relative;
}

.auth__cont::after {
  content: '2';
  position: absolute;
  top: -7px;
  right: -4px;
  background-color: #DC3434;
  color: #ffffff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Gilroy;
  font-size: 8px;
  font-weight: 500;
  line-height: 7px;
  text-align: left;

}

.auth__line {
  height: 30px;
  width: 1px;
  background-color: #FFFFFF33;
}

/* Naming */

.title__cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1244px;
  margin-top: 49px;
  margin-bottom: 18px;
}

.title__cont a {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(49, 134, 195, 1);
  white-space: nowrap;
}

.section__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: start;
  color: rgba(0, 0, 0, 1);
  display: block;
  max-width: 1244px;
  width: 100%;
}

.section__title-one {
  margin-top: 49px;
  margin-bottom: 18px;
}

/* swipperCard */

.swip {

  width: 199px;
  height: 341px;
  border-radius: 8.29px;
  border: 1.08px solid rgba(255, 255, 255, 1);
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.swip__body {
  margin-top: 5px;
  row-gap: 8px;
  display: flex;
  flex-direction: column;
}

.swip img {
  width: 175px;
  height: 149px;
  border-radius: 9px;
}

.swip__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 175px;
  height: 51px;
}

.swip__price {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.swip__stock-false {
  color: red;
}

.swip__stock {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(130, 207, 111, 1);
}

.swip__comp {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(50, 134, 194, 1);
}

.swip__comp::before {
  content: '•';
  margin-right: 6px;
  font-weight: bold;
}


.swip__price {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.swip__discount {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: red;
  font-weight: bold;
}

.swip__discount-price {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #717171;
  text-decoration: line-through;
}

.swip__cont-discount {
  display: flex;
  gap: 10px;
}

/* LIKE BUTTON */

/* style.css */

.like-icon {
  margin-left: 152px;
  position: absolute;
  top: 10px;
  /* Настройте отступ от верха */
}


/* NEWS */


.news__card {
  width: 402px;
  height: 180px;
  background-color: rgba(236, 237, 242, 1);
  border-radius: 9px;
}

/* Address */

.address {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px;
  justify-content: center;
  background-color: #ffffff;
  width: 408px;
  border-radius: 10px;
  gap: 10px;
}

.address__group {
  display: flex;
  gap: 10px;
}

.address__group p {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1) ;
}

.address__group a {
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
color: rgba(0, 98, 213, 1);
text-decoration: underline;
}

.address__body {
  flex-direction: column;
  display: flex; 
}

.address__add {
  height: 30px;
  margin-bottom: 20px;
  width: 220px;
}

.address > .line {
  width: 100%;
  height: 2px;
  background-color: rgba(227, 227, 227, 1);
}